* {
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  margin: 50px auto;
  background-color: black;
  font-family: sans-serif;
  font-size: 20px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  color: white;
}

.score-card {
  width: 50%;
  height: 10%;
  color: white;
  display: flex;
  column-gap: 10px;
}

.view {
  border: 5px solid whitesmoke;
  position: relative;
}

.segment {
  width: 10px;
  height: 10px;
  border-radius: 20%;
  background-color: lime;
  position: absolute;
}

.food {
  width: 6px;
  height: 6px;
  background-color: red;
  position: absolute;
}